spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/lkd_user?useUnicode=true&characterEncoding=UTF-8&useSSL=false&zeroDateTimeBehavior=CONVERT_TO_NULL&allowPublicKeyRetrieval=true
        username: root
      password:
      #最大连接池数量
      max-active: 20
      #最小连接池数量
      min-idle: 5
      #获取连接时最大等待时间，单位毫秒
      max-wait: 10000
      #检测连接是否有效
      validation-query: SELECT 'x'
      #Destroy线程会检测连接的间隔时间
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 60000
      web-stat-filter:
        enabled: true
      stat-view-servlet:
        #开启监控页面
        enabled: true
        url-pattern: /druid/*
      filter:
        stat:
          #显示查询日志
          log-slow-sql: true
          #定义多少秒内为慢查询
          slow-sql-millis: 2000
          #合并查询记录
          merge-sql: true
    #时区+8小时
  jackson:
    time-zone: GMT+8
  redis:
    # 地址
    host: localhost
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 密码
    password:
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms