<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SqlMapper">

<!--    <select id="selectBySQL" resultType="org.apache.commons.collections.map.LinkedMap">-->
<!--        ${sql}-->
<!--    </select>-->
    <select id="selectStringBySQL" resultType="String">
        ${sql}
    </select>
    <update id="updateBySQL">
        ${sql}
    </update>

    <delete id="deleteBySQL">
        ${sql}
    </delete>

    <insert id="insertBySQL">
        ${sql}
    </insert>
</mapper>